.nav {
  /* background-color: var(--surface); */
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: nav;
  overflow-y: scroll;
}
.nav__item {
  list-style: none;
}
.nav__link {
  padding: 0.5rem 1rem;
  margin-bottom: 0.2rem;
}
.nav__link a {
  color: #888;
}
.nav__link a:hover {
  color: #222;
}

a.active-link {
  color: crimson;
}
