.container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 48px 1fr;
  grid-template-areas:
    "header header"
    "nav surface";
  height: 100%;
}
.surface {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  grid-area: surface;
}
.surface__toggle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textBody);
  background-color: var(--surface);
  font-size: 1.25rem;
}
.surface__toggle:hover {
  background-color: var(--textGray);
}

.container.active {
  grid-template-areas:
    "header header"
    "surface surface";
}
