.tours__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tours__empty button {
  padding: 0.25rem 0.5rem;
  background-color: #036ebe;
  color: #fff;
}
.tours__empty button:hover {
  color: #ddd;
}

.tours__title {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 3px solid crimson;
  color: var(--textBody);
}
.tours__container {
  display: grid;
  row-gap: 2rem;
}
.tour {
  max-width: 400px;
  height: max-content;
  border: 2px solid var(--surface);
  margin: auto;
}
.tour__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.tour__body {
  padding: 2rem 1rem;
  background-color: var(--surface);
  transition: background-color 0.4s;
}
.tour__title {
  display: flex;
  justify-content: space-between;
}
.tour__name {
  color: var(--tertiary);
}
.tour__price {
  color: var(--primary);
  font-weight: 600;
}
.tour__info {
  color: var(--textBody);
}
button {
  font-size: 1rem;
}
.tour__info-button {
  background-color: transparent;
  color: var(--secondary);
}
.tour__info-button:hover {
  color: var(--primary);
}
.tour__button {
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--secondary);
  color: var(--background);
}
.tours__empty h2,
.tour__loading {
  color: var(--textBody);
}
