@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --background: #fff;
  --surface: #f7f7f7;

  --primary: #f44250;
  --secondary: #0078d7;
  --tertiary: #30ba2d;

  --onBackground: #121212;
  --textBody: #434343;
  --textGray: #818181;
  --textGrayHover: #111827;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  transition: background-color 0.4s;
  min-height: 100vh;
}
body,
button,
input {
  font-family: "Poppins", sans-serif;
}

body.dark-theme {
  --background: #111827;
  --surface: #383838;

  --onBackground: #fff;
  --textBody: #e3e3e3;
  --textGray: #9ca3af;
  --textGrayHover: #f9fafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
